.contenedor {
  /*max-width: var(--desktopXL);*/
  width: min(var(--desktopXL), 98%);
  margin: 2rem auto;
}
.sombra {
  box-shadow: 0 5px 15px 0 rgba(112, 112, 112, 0.48);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}
.boton {
  background-color: var(--primario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}
.boton:hover {
  cursor: pointer;
}
