/**  Globales **/
html {
  font-size: 62.5%;
  box-sizing: border-box; /*Hack para Box Model*/
  /*scroll-snap-type: y mandatory;*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--fuente_principal);
  background: linear-gradient(
    to bottom,
    var(--grisClaro) 0%,
    var(--blanco) 100%
  );
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
img {
  max-width: 100%;
  display: inline-block;
}
