/** Pagina contacto **/
/* Hero */
.contacto-page .hero-contacto {
  background-image: url(../../assets/img/tablet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
  margin-bottom: 2rem;
}
.contacto-page .contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  /*background-color: rgb(0 0 0 / 70%);*/ /** Forma moderna **/
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto-page .contenido-hero h2 {
  color: var(--blanco);
}

/* Contacto */
.contacto-page .formulario-contacto h3 {
  /*color: var(--grisOscuro);*/
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: bold;
}
.contacto-page .formulario-contacto form {
  margin: 0 auto 2rem;
  width: min(var(--tablet), 100%);
}
.contacto-page .formulario-contacto fieldset {
  border: 4px solid var(--gris);
  padding: 4rem;
  background-color: var(--grisClaro);
}
.contacto-page .formulario-contacto legend {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: var(--primario);
}
.contacto-page .formulario-contacto label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.contacto-page .formulario-contacto .input-text {
  padding: 1rem;
  /*margin: 0 5rem 10rem 5rem;*/
  display: block;
  width: 100%;
  border: 1px solid var(--gris);
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.contacto-page .formulario-contacto textarea {
  height: 20rem;
}
