/** Pagina index **/

/* Hero */
.index-page .hero {
  background-image: url(../../assets/img/laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
  /*margin-bottom: 2rem;*/
}
.index-page .contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  /*background-color: rgb(0 0 0 / 70%);*/ /** Forma moderna **/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index-page .contenido-hero h2,
.index-page .contenido-hero p {
  color: var(--blanco);
}
.index-page .contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}
.index-page .contenido-hero img {
  height: 8rem;
  width: 8rem;
}

/* Resumen servicios */
.index-page .resumen-servicios span {
  color: var(--gris);
  font-size: 0.5em;
}
.index-page .resumen-servicios a {
  color: var(--primario);
  font-size: 1.1em;
}
@media (min-width: 768px) {
  .index-page .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}
.index-page .servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-page .servicio h3 {
  color: var(--primario);
  /*font-weight: normal;*/
}
.index-page .servicio p {
  line-height: 2;
  text-align: center;
}
.index-page .servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--secundario);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-page .servicio img {
  height: 4rem;
  width: 4rem;
}
.index-page .servicio .text-img {
  font-weight: bold;
}

/* Contacto */
.index-page .formulario-contacto form {
  background-color: var(--gris);
  width: min(var(--tablet), 100%); /** Utilizar el valor más pequeño **/
  margin: 0 auto 2rem;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}
.index-page .formulario-contacto fieldset {
  border: none;
}
.index-page .formulario-contacto legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--amarillo);
}
@media (min-width: 768px) {
  .index-page .formulario-contacto .contenedor-campos {
    display: grid;
    /*grid-template-columns: 50% 50%;*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
  }

  .index-page .formulario-contacto .campo:nth-child(3),
  .index-page .formulario-contacto .campo:nth-child(4) {
    grid-column: 1 / 3;
  }
}
.index-page .formulario-contacto .campo {
  margin-bottom: 1rem;
}
.index-page .formulario-contacto .campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.index-page .formulario-contacto .campo textarea {
  height: 20rem;
}
.index-page .formulario-contacto .input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
